#about-section .heading {
  font-size: clamp(3.125rem, 9vw, 6.25rem);
  transition: color 0.3s ease, transform 0.3s ease;
}

#about-section .heading:hover {
  color: var(--accent-color);  /* Change to a contrasting color */
  transform: scale(1.05);
}

#about-section .more-about-me {
  font-size: var(--small-Fsize);
  color: var(--primary-color);
  opacity: 0.7;
  margin-bottom: 5rem;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#about-section .years-of-doing.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  text-align: center;
  max-width: 16rem;
  margin-inline: auto;
}

.years-of-doing.d-grid .clients {
  grid-column: 1 / -1;
}

#about-section .years-of-doing {
  opacity: 0;
}

#about-section .years-of-doing .years {
  font-size: clamp(3.125rem, 7vw, 4.375rem);
  line-height: 1.2em;
  transition: font-size 0.3s ease;
}

#about-section .years-of-doing p {
  font-size: var(--XS-Fsize);
  color: var(--primary-color);
  opacity: 0.7;
}

.years-of-doing .experience:hover,
.years-of-doing .projects:hover,
.years-of-doing .clients:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.years-of-doing .years:hover,
.years-of-doing p:hover {
  font-size: calc(100% + 2px);
  transition: font-size 0.3s ease;
}

@media (width >= 1000px) {
  #about-section .more-about-me {
    text-align: left;
  }

  #about-section .years-of-doing.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    text-align: left;
    margin-inline: initial;
    gap: 40px;
  }

  #about-section .years-of-doing .years {
    font-size: clamp(3.125rem, 7vw, 4.2rem);
    line-height: 1.2em;
  }

  .years-of-doing.d-grid .clients {
    grid-column: initial;
  }
}

html {
  scroll-behavior: smooth;
}